<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h4>SUDOKU GAME</h4>
    <form action="." method="POST">
        <table class="full_cell">
            <tr>
                <td>
                    <!-- r1xc1 -->
                    <table class="mid_cell">
                        <tr>
                            <td><input type="text" class="small_cell" name="a1" value="7"></td>
                            <td><input type="text" class="small_cell" name="b1" value="2"></td>
                            <td><input type="text" class="small_cell" name="c1"></td>
                        </tr>        
                        <tr>
                            <td><input type="text" class="small_cell" name="a2"></td>
                            <td><input type="text" class="small_cell" name="b2"></td>
                            <td><input type="text" class="small_cell" name="c2" value="9"></td>
                        </tr>        
                        <tr>
                            <td><input type="text" class="small_cell" name="a3" value="8"></td>
                            <td><input type="text" class="small_cell" name="b3"></td>
                            <td><input type="text" class="small_cell" name="c3"></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <!-- r1xc2 -->
                    <table class="mid_cell">
                        <tr>
                            <td><input type="text" class="small_cell" name="d1"></td>
                            <td><input type="text" class="small_cell" name="e1" value="6"></td>
                            <td><input type="text" class="small_cell" name="f1" value="9"></td>
                        </tr>        
                        <tr>
                            <td><input type="text" class="small_cell" name="d2"></td>
                            <td><input type="text" class="small_cell" name="e2" value="3"></td>
                            <td><input type="text" class="small_cell" name="f2"></td>
                        </tr>        
                        <tr>
                            <td><input type="text" class="small_cell" name="d3" value="4"></td>
                            <td><input type="text" class="small_cell" name="e3"></td>
                            <td><input type="text" class="small_cell" name="f3"></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <!-- r1xc3 -->
                    <table class="mid_cell">
                        <tr>
                            <td><input type="text" class="small_cell" name="g1" ></td>
                            <td><input type="text" class="small_cell" name="h1"></td>
                            <td><input type="text" class="small_cell" name="i1" value="4"></td>
                        </tr>        
                        <tr>
                            <td><input type="text" class="small_cell" name="g2"></td>
                            <td><input type="text" class="small_cell" name="h2" value="5"></td>
                            <td><input type="text" class="small_cell" name="i2"></td>
                        </tr>        
                        <tr>
                            <td><input type="text" class="small_cell" name="g3" value="2"></td>
                            <td><input type="text" class="small_cell" name="h3" value="6"></td>
                            <td><input type="text" class="small_cell" name="i3"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- r2xc1 -->
                    <table class="mid_cell">
                        <tr>
                            <td><input type="text" class="small_cell" name="a4"></td>
                            <td><input type="text" class="small_cell" name="b4" value="6"></td>
                            <td><input type="text" class="small_cell" name="c4"></td>
                        </tr>        
                        <tr>
                            <td><input type="text" class="small_cell" name="a5"></td>
                            <td><input type="text" class="small_cell" name="b5" value="3"></td>
                            <td><input type="text" class="small_cell" name="c5"></td>
                        </tr>        
                        <tr>
                            <td><input type="text" class="small_cell" name="a6" value="5"></td>
                            <td><input type="text" class="small_cell" name="b6"></td>
                            <td><input type="text" class="small_cell" name="c6"></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <!-- r2xc2 -->
                    <table class="mid_cell">
                        <tr>
                            <td><input type="text" class="small_cell" name="d4" value="9"></td>
                            <td><input type="text" class="small_cell" name="e4"></td>
                            <td><input type="text" class="small_cell" name="f4"></td>
                        </tr>        
                        <tr>
                            <td><input type="text" class="small_cell" name="d5"></td>
                            <td><input type="text" class="small_cell" name="e5" value="8"></td>
                            <td><input type="text" class="small_cell" name="f5"></td>
                        </tr>        
                        <tr>
                            <td><input type="text" class="small_cell" name="d6" ></td>
                            <td><input type="text" class="small_cell" name="e6"></td>
                            <td><input type="text" class="small_cell" name="f6" value="2"></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <!-- r2xc3 -->
                    <table class="mid_cell">
                        <tr>
                            <td><input type="text" class="small_cell" name="g4"></td>
                            <td><input type="text" class="small_cell" name="h4"></td>
                            <td><input type="text" class="small_cell" name="i4" value="8"></td>
                        </tr>        
                        <tr>
                            <td><input type="text" class="small_cell" name="g5"></td>
                            <td><input type="text" class="small_cell" name="h5" value="1"></td>
                            <td><input type="text" class="small_cell" name="i5"></td>
                        </tr>        
                        <tr>
                            <td><input type="text" class="small_cell" name="g6"></td>
                            <td><input type="text" class="small_cell" name="h6" value="4"></td>
                            <td><input type="text" class="small_cell" name="i6"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- r3xc1 -->
                    <table class="mid_cell">
                        <tr>
                            <td><input type="text" class="small_cell" name="a7"></td>
                            <td><input type="text" class="small_cell" name="b7" value="5"></td>
                            <td><input type="text" class="small_cell" name="c7" value="1"></td>
                        </tr>        
                        <tr>
                            <td><input type="text" class="small_cell" name="a8"></td>
                            <td><input type="text" class="small_cell" name="b8" value="8"></td>
                            <td><input type="text" class="small_cell" name="c8"></td>
                        </tr>        
                        <tr>
                            <td><input type="text" class="small_cell" name="a9" value="4"></td>
                            <td><input type="text" class="small_cell" name="b9"></td>
                            <td><input type="text" class="small_cell" name="c9"></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <!-- r3xc2 -->
                    <table class="mid_cell">
                        <tr>
                            <td><input type="text" class="small_cell" name="d7"></td>
                            <td><input type="text" class="small_cell" name="e7"></td>
                            <td><input type="text" class="small_cell" name="f7" value="4"></td>
                        </tr>        
                        <tr>
                            <td><input type="text" class="small_cell" name="d8"></td>
                            <td><input type="text" class="small_cell" name="e8" value="2"></td>
                            <td><input type="text" class="small_cell" name="f8"></td>
                        </tr>        
                        <tr>
                            <td><input type="text" class="small_cell" name="d9" value="3"></td>
                            <td><input type="text" class="small_cell" name="e9" value="7"></td>
                            <td><input type="text" class="small_cell" name="f9"></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <!-- r3xc3 -->
                    <table class="mid_cell">
                        <tr>
                            <td><input type="text" class="small_cell" name="g7"></td>
                            <td><input type="text" class="small_cell" name="h7"></td>
                            <td><input type="text" class="small_cell" name="i7" value="6"></td>
                        </tr>        
                        <tr>
                            <td><input type="text" class="small_cell" name="g8" value="4"></td>
                            <td><input type="text" class="small_cell" name="h8"></td>
                            <td><input type="text" class="small_cell" name="i8"></td>
                        </tr>        
                        <tr>
                            <td><input type="text" class="small_cell" name="g9"></td>
                            <td><input type="text" class="small_cell" name="h9" value="2"></td>
                            <td><input type="text" class="small_cell" name="i9" value="5"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <button type="submit">Check</button>
    </form>
</body>